<h3><a class="btn btn-secondary" href="/student">Create List</a></h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Phone number</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.phonenumber}}</td>
            <td>{{this.address}}</td>
            <td>
                <a class="btn btn-primary btn-sm" href="/student/{{this.id}}">Edit</a>
                <a class="btn btn-primary btn-sm" href="/student/delete/{{this.id}}" onclick="return confirm('Are you sure you want to delete this record?');">Delete</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>